.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:  #40adbd;
  }
  
  .about-image {
    flex: 1;
    margin-right: 20px;
  }
  
  .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 181px;
  }
  
  .about-text {
    flex: 2;
  }
  
  .about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
  }
  
  .about-text p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }
  